.App {
  padding: 40px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 54vw;
  /* background-color: #b4dab1; */

  background-color: #353535;
}

.overall-title{
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
  color: rgb(126, 212, 126);
}

.app-container{
  display: flex;
  padding: 30px;
}

.filters{
  min-width: 700px;
}

.filter{
  padding: 10px;
}

.filter-item{
  padding-left: 15px;
}

.song-card{
  min-width: 220px;
  max-width: 220px;
  border-radius: 6px;
  padding: 10px;
  margin: 15px;
  background-color: white;
}

.playlist-card{
  min-width: 220px;
  border-radius: 6px;
  padding: 10px;
  margin: 15px;
  background-color: rgb(234, 248, 233);
}

.section-title{
  font-size: 18px;
  margin-right: 10px;
}

.filters {
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  background-color: white;
}

.filter-section{
  padding: 8px;
}

.song-title{
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.song-artist{
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
}

.song-props {
  margin-bottom: 10px;
}
.song-time{
  margin-right: 6px;
}

.add-to-playlist{
  text-align: center;
}

img{
  width: 180px;
  height: 170px;
  border-radius: 9px;
}

.song-img{
  text-align: center;
  margin-bottom: 10px;
}

.right-side{
  min-width: 550px;
}

.playlist{
  border: 1px solid black;
  margin-left: 30px;
  background-color: white;
  border-radius: 9px;
  padding: 10px;
  min-width: 450px;
}

.total-time{
  font-size: 18px;
  text-align: center;
  padding-top: 6px;
  border-top: 0.5px solid rgb(104, 129, 104);
}

@media screen and (max-width: 1300px) {
  .filters{
    min-width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .app-container{
    display: initial;
  }

  .playlist{
    margin-top: 50px;
    margin-left: none;
  }
}