.App {
  padding: 40px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 54vw;
  background-color: #353535;
}

.app-container{
  display: flex;
  padding: 30px;
}
.overall-title{
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
  color: rgb(103, 223, 103);
}


.filter{
  padding: 10px;
}

.filter-item{
  padding-left: 15px;
}

.filters {
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  background-color: white;
  min-width: 750px;
}

.full-filters {
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  background-color: white;
  min-width: 90vw;
  display: flex;
}

.filter-section{
  padding: 8px;
  display: flex;
  align-items: center;
  min-width: 250px;
}

.section-title{
  font-size: 18px;
  margin-right: 10px;
}

.song-card{
  min-width: 220px;
  max-width: 220px;
  border-radius: 6px;
  padding: 10px;
  margin: 15px;
  background-color: rgb(232, 255, 230);
}

.song-title{
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}

.playlist-card{
  min-width: 220px;
  border-radius: 6px;
  padding: 10px;
  margin: 15px;
  background-color: rgb(224, 255, 223);
  display: flex;
  align-items: center;
}

.song-title-playlist{
  font-weight: bold;
  font-size: 17px;
  margin-right: 10px;
  text-align: left;
}

.song-artist{
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
}

.song-img{
  text-align: center;
  margin: 10px;
}

.song-artist-playlist{
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
  align-items: center;
  margin-bottom: none;
  text-align: left;
}

.song-id-container{
  align-items: center;
  margin-bottom: 12px;
  margin-left: 10px;
}

.song-props {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-time{
  margin-right: 6px;
}

.add-to-playlist{
  text-align: center;
  padding-bottom: 8px;
}

.remove-from-playlist{
  margin-left: 15px;
  margin-right: 7px;
  text-align: center;
}

.rating-star{
  color: #5cd654;
  font-size: 22px;
}

img{
  width: 180px;
  height: 170px;
  border-radius: 9px;
}

.playlist-album{
  width: 140px;
  height: 140px;
}

.right-side{
  min-width: 550px;
}

.playlist{
  border: 1px solid black;
  margin-left: 30px;
  background-color: white;
  border-radius: 9px;
  padding: 10px;
  min-width: 450px;
}

.total-time{
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  padding-top: 6px;
}

@media screen and (max-width: 1300px) {
  .filters{
    min-width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .app-container{
    display: initial;
  }

  .playlist{
    margin-top: 50px;
    margin-left: none;
  }
}